<%= form_for(vacation_spot) do |f| %>
  <% if vacation_spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vacation_spot.errors.count, "error") %> prohibited this vacation_spot from being saved:</h2>

      <ul>
      <% vacation_spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
