<%= form_for(hooplah) do |f| %>
  <% if hooplah.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hooplah.errors.count, "error") %> prohibited this hooplah from being saved:</h2>

      <ul>
      <% hooplah.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vacation_spot_id %>
    <%= f.number_field :vacation_spot_id %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
